body{
    background-color: rgb(193, 247, 179);
    color: darkgreen;
    text-align: center;
}

header{
    font-size: 1.5em;
}

nav button, nav select{
    font-size: 2.5em;
}

section#description{
    font-size: 2em;
    line-height: 1.25;
    text-align: left;
    margin-inline: 50px;
    margin-block: 30px;
    padding: 50px;
    min-height: 325px;
    background-color: rgb(139, 224, 156);
}

.not-finished{
    background-color:lightcoral;
    color:darkred
}

footer{
    font-size: 1.5em;
    text-align: left;
    display: flex;
}
footer img{
    max-width: 150px;
    max-height: 300px;
    border: 10px black double;
    margin-inline: 20px
}
